  
.home {
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    align-items: center;
}
.homeTitle {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3em;
    color: #0ccac4;
    font-family: "Bigelow Rules";
    

}