.imageLanding {
  background: linear-gradient(127deg, rgba(97,6,145,0.8939950980392157) 30%,
  rgba(214,45,77,1) 100%);
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: none;
  }
 
  .containerTitle{
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content:center;
  }
  .titleLanding {
    font-family: "Teko", sans-serif;
    margin: 0;
    font-size: 60px;
    letter-spacing: 2mm;
    color: white;
   
  }
  
  
  