.nav{
    background: linear-gradient(127deg, rgba(97,6,145,0.8939950980392157) 30%,
     rgba(214,45,77,1) 100%);
     width: 100%;
     height: 8rem;
     margin-bottom: .25rem;

}
.searchBox {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    outline:none; 
    padding: 0.5rem;
    width:8rem;
    line-height:2rem;
   

}
.homeTitle {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 2.8em;
    color: #0ccac4;
    font-family: "Bigelow Rules";
    

}
.linksTitle {
    float: left;
    position:relative;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 10px;
 font-size: 2em;
 color: #4ee807;;

}
.linksTitle2 {
    float: left;
    position:relative;
    margin-top: -20px;
    margin-left: 1px;
    margin-bottom: 10px;
 font-size: 2em;
 color: #4ee807;;

}
.linksTitle3 {
    float: left;
    position:relative;
    margin-top: -20px;
    margin-left: 1px;
    margin-bottom: 10px;
 font-size: 2em;
 color: #4ee807;;

}
.linkTitle {
    float: right;
    position:relative;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 12px;
 font-size: 2em;
 color: #4ee807;;

}
.linkTitle2 {
    float: right;
    position:relative;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 12px;
 font-size: 2em;
 color: #4ee807;;

}
.linkTitle3 {
    float: right;
    position:relative;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 12px;
 font-size: 2em;
 color: #4ee807;;

 
}


  
.pageNavbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.pageNavbutton:disabled {
  background-color: #ccc;
  cursor: pointer;
}