.home {
   
    background: linear-gradient(127deg, rgba(97,6,145,0.8939950980392157) 30%,
    rgba(214,45,77,1) 100%);
    background-size: cover;
    height: 100vw;
    width: 100vw;
  }  
.cont{
  
    border: 1px solid blue;
    border-radius:  0.5rem;
    width: fit-content;
    font-weight: 600;
    margin: auto;
    padding: 1 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    background-color: bisque;

    .descriptionTextarea{
        width: 200px;
        overflow:auto;
    }
    
}
.image{
    display:flex;
    justify-content: flex-start;
    float: left;
    clear: both; 
    width: 300px;
    margin: 15px;
}


.text{
    padding: 1rem;
    color:blue;
    text-align: left;
}
.descriptionDiv{
    color: black;
}

.foot {
    background: linear-gradient(127deg, rgba(97,6,145,0.8939950980392157) 30%,
     rgba(214,45,77,1) 100%);
     width: 100%;
     height: 12rem;
     margin-bottom: .25rem;
     
     bottom: 0;

  } 