  
.home {
  background: linear-gradient(127deg, rgba(97, 6, 145, 0.8939950980392157) 30%, rgba(214, 45, 77, 1) 100%);
  background-size: cover;
  height: 100vh; /* Cambiado de 100vw a 100vh para ajustar la altura */
  width: 100vw;
  position: relative; /* Agregamos posición relativa para posicionar la imagen interna */
}

.imageContainer {
  position: absolute; /* Posicionamos absolutamente la imagen dentro del contenedor .home */
  top: 70%; /* Alineamos verticalmente al centro */
  left: 50%; /* Alineamos horizontalmente al centro */
  transform: translate(-50%, -50%); /* Centramos la imagen */
  width: 100%; /* Establecemos el tamaño deseado para la imagen (60% del tamaño del contenedor) */
}

/* Añadimos la imagen como fondo del contenedor .image-container */
.imageContainer {
  background-image: url('../../assets/videogame.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50%;
  height: 50%;
}

.containerTitle {
  display:flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
}
.titleLanding {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3em;
  color: #0ccac4;
  font-family: "Bigelow Rules";
  

}
/* En tu archivo CSS o módulo de estilos correspondiente */
.pageNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNavigationButton {
  background-color: #007bff;
  color: #fff;
  font-size:18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
}
